<!DOCTYPE html>
<html lang="en">
<head>
  
  <!-- {% block title %} --><title>Local Library</title><!-- {% endblock %} -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,700" rel="stylesheet">
  
  <!-- Add additional CSS in static file -->
  <!-- {% load static %} -->
  <link rel="stylesheet" href="../static/admin/css/base.css">
  <link rel="stylesheet" href="../static/admin/css/styles.css">
</head>

<body>
    <div class="navi">
      <a href="refugee_profile.html" target="_self">Profile</a>
      <a href="base_generic.html" target="_self">Find work</a>
      <a href="network_view.html" target="_self">Your network</a>
    </div>  
  <div class="container-fluid">
    <div class="title"> 6 Tasks Matched </div> 

    <div class="row">
      <div class="col-sm-2">
      <!-- {% block sidebar %} -->
      <ul class="sidebar-nav"> 
          <div class="filter"> Filter By </div> 
          <form>
            <input type="radio" name="filter" value="skills" checked> Skills <br>
              <p class = "skills"> Cleaning <p> 
              <p class = "skills"> Cooking <p> 
              <p class = "skills"> Electronic repair <p> 
              <p class = "skills"> Pet care <p> 
            <input type="radio" name="filter" value="time"> Time <br>
            <input type="radio" name="filter" value="distance"> Distance <br>
            <input type="radio" name="filter" value="pay"> Pay <br> 
          </form>
      </ul>
     <!-- {% endblock %} -->
      </div>
      <div class="col-sm-9">
        <a href ="task.html" target="_blank"><div class = "jobbox">
        <div class="jobim"><img src="../static/img/dishes.png"></div>
          <div class = "task-title"> Clean Dishes </div> 
          <div> Job length: 1 hour </div> 
          <div class = "time"> posted 2 hours ago </div> 
        </div> </a>
        <a href ="task.html" target="_blank"><div class = "jobbox">
        <div class="jobim"><img src="../static/img/grocery.png"></div>
          <div class = "task-title"> Groceries </div> 
          <div> Job length: 2 hours </div> 
          <div class = "time"> posted 4 days ago</div> 
        </div> 
          </a>
        <a href ="task.html" target="_blank"><div class = "jobbox">
        <div class="jobim"><img src="../static/img/dog.png"></div>
          <div class = "task-title"> Walk the Dog </div> 
          <div class = "time"> Job length: 1 hour </div> 
          <div class = "time"> posted 1 day ago </div> 
        </div> 
          </a>
        <a href ="task.html" target="_blank"><div class = "jobbox">
        <div class="jobim"><img src="../static/img/computertask.png"></div>
          <div class = "task-title"> Repair Computers </div> 
          <div class = "time"> Job length: 3 hours </div> 
          <div class = "time"> posted 10 hours ago </div> 
        </div> 
          </a>
        <a href ="task.html" target="_blank"><div class = "jobbox">
        <div class="jobim"><img src="../static/img/cooking.png"></div>
          <div class = "task-title"> Cooking </div> 
          <div class = "time"> Job length: 2 hours </div> 
          <div class = "time"> posted 3 hours ago </div> 
        </div> 
          </a>
        <a href ="task.html" target="_blank"><div class = "jobbox">
        <div class="jobim"><img src="../static/img/garage.png"></div>
          <div class = "task-title"> Garage Cleaning </div> 
          <div class = "time"> Job length: 1 hour </div> 
          <div class = "time"> posted 3 weeks ago </div> 
        </div> 
          </a>
      <!-- {% block content %}{% endblock %} -->
      </div>
    </div>

  </div>
</body>
</html>
