<!DOCTYPE html>
<html lang="en">
<head>
  
  <!-- {% block title %} --><title>Local Library</title><!-- {% endblock %} -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,700" rel="stylesheet">
  <!-- Add additional CSS in static file -->
  <!-- {% load static %} -->
  <link rel="stylesheet" href="../static/admin/css/base.css">
  <link rel="stylesheet" href="../static/admin/css/tasks.css">
</head>

<body>

  <div class="container-fluid">
    <div class="row">
      <div class="box">
        <div class = "header"> 
          <div class="title"> Task from Ronnie C. </h1>
          <img src="../static/img/four.png" style="height:30px;">
        </div> 
        <div class = "details"> 
          <p style="color:#56ccf2;"> My English lab, Toto, needs to be walked while I am at work and my husband is on vacation. Looking for a trustworthy person to walk Toto!" </p> 
          <p> Location: North Berkeley (exact location will be revealed when connected) </p>
          <p> Length: 1 hour </p>
          <p> Pay: $30 </p>
        </div> 

        <div class="reviews">
          <h2> Reviews About Ronnie </h2> 
          <div class="review"> 
           <img src="../static/img/four.png" style="height:30px;">
            <p> "Ronnie is a trustworthy person and has an awesome cute dog!" </p> 
          </div> 
          <div class="review">
            <img src="../static/img/five.png" style="height:30px;"> 
            <p> "She was super on time when I had to meet her and was very charismatic!" </p> 
          </div> 
          <div class="review"> 
            <img src="../static/img/four.png" style="height:30px;">
            <p> "Cute dog!" </p> 
          </div> 
        </div> 

        <div class="request-button">
          <a class="request-task" href="message_translate.html">Request Task</a>
        </div>

<!--           <button type="button" class="btn btn-primary"> Request Task </button>
 -->      </div> 
    </div>
  </div>

</body>
</html>
