body {	/*the outer layer of the site and global style attributes*/
font-family: "Alegreya Sans",  "Open Sans", Helvetica, sans-serif;

    transition:all .5s linear; 
    -o-transition:all .5s linear; 
    -moz-transition:all .5s linear; 
    -webkit-transition:all .5s linear;

img{
	transition:all .2s linear; 
    -o-transition:all .2s linear; 
    -moz-transition:all .2s linear; 
    -webkit-transition:all .2s linear;
}
}

#under-construction{
	font-weight: 100;
	font-size: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	margin-top: 50px;
	color: #779;
}

#temp-image{
	margin: 20px auto 100px auto;
	width: 500px;

}


#back-to-port{
	margin: 30px auto 80px auto;
	width: 178px;
	color: #779;
	font-size: 20px;
	transition-duration: .4s;
}

#back-to-port:hover{
	color: #333;
	transition-duration: .4s;

}



/*FOR HOME PAGE big*/
@media (min-width: 450px){
#title-container{
	height: 400px;
}

#title{
	font-size: 64px;
	color: #000;
	margin-left: auto;
	margin-right: auto;
	width: 750px;
	margin-top: 80px;
	padding-bottom: 20px;
}

#title-half{
	display: none;
}

#subtitles{
	margin-left: auto;
	margin-right: auto;
	width: 296px;
	font-size: 24px;
	font-weight: 100;
}

#professional-info-container{
	margin-right: auto;
	margin-left: auto;
	width: 250px;
	margin-top: 5px;
}

#linkedin{
	font-size: 24px;
	font-weight: 100;
	margin-right: 30px;
}

#linkedin:hover{
	color: #99A;
}

#resume{
	font-size: 24px;
	font-weight: 100;
}

#resume:hover{
	color: #99A;
}

#maintenance-notification{
	font-size: 16px;
	font-weight: 100;
	margin-right: auto;
	margin-left: auto;
	width: 262px;
	margin-top: 18px;
	color: #779;
}


#navigation-container1{
	position: relative;
}

#profile-banner{
	margin-top:-100px;
	margin-left: -8px;
	margin-right: -8px;
	cursor: pointer;
	position: relative;
	top: 0px;
	left: 0px;

}

#profile-banner-hover{
	margin-left: -8px;
	margin-right: -8px;
	position: absolute;
	top: 0px;
	right:0px;
	left:0px;
	cursor: pointer;
}

#navigation-container2{
	position: relative;
	top: 4px;
}

#portfolio-banner{
	margin-left: -8px;
	margin-right: -8px;
	cursor: pointer;
	position: relative;
	top: 0px;
	left: 0px;

}

#portfolio-banner-hover{
	margin-left: -8px;
	margin-right: -8px;
	position: absolute;
	top: 0px;
	right:0px;
	left:0px;
	cursor: pointer;
}


#profile-banner-half{
	display: none;

}

#profile-banner-hover-half{
	display: none;
}


#portfolio-banner-half{
	display: none;

}

#portfolio-banner-hover-half{
	display: none;
}
}

/*END HOME PAGE big*/







/*FOR HOME PAGE small/mobile*/
@media (max-width: 450px) {
#title-container{
	height: 400px;
}

#title{
	display: none;
}

#title-half{
	margin-left: auto;
	margin-right: auto;
	width: 380px;
	margin-top: 80px;
	padding-bottom: 20px;
}

#subtitles{
	margin-left: auto;
	margin-right: auto;
	width: 296px;
	font-size: 24px;
	font-weight: 100;
}

#professional-info-container{
	margin-right: auto;
	margin-left: auto;
	width: 250px;
	margin-top: 5px;
}

#linkedin{
	font-size: 24px;
	font-weight: 100;
	margin-right: 30px;
}

#linkedin:hover{
	color: #99A;
}

#resume{
	font-size: 24px;
	font-weight: 100;
}

#resume:hover{
	color: #99A;
}

#maintenance-notification{
	font-size: 16px;
	font-weight: 100;
	margin-right: auto;
	margin-left: auto;
	width: 262px;
	margin-top: 18px;
	color: #779;
}




#profile-banner{
	display: none;

}

#profile-banner-hover{
	display: none;
}


#portfolio-banner{
	display: none;

}

#portfolio-banner-hover{
	display: none;
}

#navigation-container1{
	position: relative;
}

#profile-banner-half{
	margin-top:-100px;
	margin-left: -8px;
	margin-right: -8px;
	cursor: pointer;
	position: relative;
	top: 0px;
	left: 0px;

}

#profile-banner-hover-half{
	margin-top:-100px;
	margin-left: -8px;
	margin-right: -8px;
	position: absolute;
	top: 0px;
	right:0px;
	left:0px;
	cursor: pointer;
}

#navigation-container2{
	position: relative;
	top: 4px;
}

#portfolio-banner-half{
	margin-left: -8px;
	margin-right: -8px;
	cursor: pointer;
	position: relative;
	top: 0px;
	left: 0px;

}

#portfolio-banner-hover-half{
	margin-left: -8px;
	margin-right: -8px;
	position: absolute;
	top: 0px;
	right:0px;
	left:0px;
	cursor: pointer;
}
}

/*END HOME PAGE big*/

a {
color: inherit;
text-decoration: none;
}

a:link{
	text-decoration: none;
}

a:visited{
	text-decoration: none;
}

a:hover{
	text-decoration: none;
}

#nav-container{
	width:100px;
}


/*PROFILE INFO*/
#profile-header{
	margin-right: auto;
	margin-left: auto;
	width: 350px;
	margin-top: 30px;
}


#home-nav-container-profile{
	margin-bottom: 10px;
	margin-top: 20px;
	margin-left: 20px;
	cursor: pointer;
	width: 30px;
}

#portfolio-nav-container-profile{
	margin-bottom: -80px;
	cursor:pointer;
	width: 50px;

}

#portfolio-nav{
	font-size: 24px;
	margin-left: 18px;
	margin-bottom: -80px;
	cursor:pointer;
	padding: 0px;
	width: 50px;
	/* margin: 0; */
}

#portfolio-nav:hover{
	color: #888;
	width: 50px;
}

#profile-nav-container{
}

#profile-text-container{
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}

#contact-container{
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	position: fixed;
	bottom: 0px;
	left: 0px;
	background-color: #EEF;
	z-index: 100;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 20px;
	-webkit-box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.4);
	-moz-box-shadow:    0px -2px 10px rgba(0, 0, 0, 0.4);
	box-shadow:         0px -2px 10px rgba(0, 0, 0, 0.4);
}

#contact-me{
	margin-left: 10px;
	float:left;
	margin-right: 80px;
}
#email{
	font-weight: 100;
	margin-right: 80px;
	float: left;
	margin-left: 10px;

}

#phone{
	font-weight: 100;
	float: left;
	margin-left: 10px;
	margin-right: 80;
}

#behance-link{
	font-weight: 100;
	float: left;
	margin-left: 10px;	
}

#profile-text{
	font-size: 16px;
	line-height: 26px;
	font-weight: 100;
}

#ice-cream-pic{
	margin-right: auto;
	margin-left: auto;
	width: 200px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#profile-text1{
	text-align: center;
	font-weight: 100;
}

#totoro-pic{
	margin-right: auto;
	margin-left: auto;
	width: 200px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#profile-text2{
	text-align: center;
	font-weight: 100;
}

#andrea-pic{
	margin-right: auto;
	margin-left: auto;
	width: 300px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#profile-text3{
	text-align: center;
	font-weight: 100;
}

#envc-dance-container{
	margin-right: auto;
	margin-left: auto;
	width: 400px;
	margin-top: 10px;
}

#go-to-port{
	text-align: center;
	margin-top: 30px;
	font-size: 20px;
	color: #779;
	font-weight: 400;
	margin-bottom: 70px;	
	transition-duration: .4s;
}

#go-to-port:hover{
	color: #333;	
	transition-duration: .4s;
}

/*PORTFOLIO NEED RESPONSIVE FOR BIG*/
@media (min-width: 1024px){

#home-nav-portfolio{
	margin-top:20px;
	margin-left:20px;
}

#profile-nav-portfolio{
	margin-left: 20px;
	margin-top: 10px;
}

#profile-nav{
	font-size: 24px;
	margin-left: 20px;
	margin-bottom: -80px;
	cursor:pointer;
	padding: 0px;
	width: 50px;
	/* margin: 0; */
}

#profile-nav:hover{
	color: #888;
	width: 50px;
}

#home-nav:hover{
	color:#888;
	width: 30px;
}

#project-title{
	margin-left: auto;
	margin-right: auto;
	width: 350px;
	margin-top: -50px;
}


#projects-container{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;

}

#project-subtitle1{
    font-size: 24px;

    margin-left: auto;
    margin-right: auto;
}


#projects-container{
	position: relative;
	top: 0px;
	/* margin-top: 20px; */
}


.project-icons1{
	margin-top:-60px;
}

#UIUX-icon{
	position: absolute;
	top: 100px;
	z-index: 2;
	cursor: pointer;
	box-shadow: -2px -2px 5px rgba(0,0,0,0.5);

}

#UIUX-icon-hover{
	position: absolute;
	top: 100px;
	z-index: 1;
}

#mobile-icon{
	position: absolute;
	top: 100px;
	left: 350px;
	z-index: 2;
	cursor: pointer;
	box-shadow: -2px -2px 5px rgba(0,0,0,0.5);
}


#mobile-icon-hover{
	position: absolute;
	top: 100px;
	left: 350px;
	z-index: 1;
	cursor: pointer;
}

#product-icon{
	position: absolute;
	top: 100px;
	left: 700px;
	z-index: 2;
	cursor: pointer;
	box-shadow: -2px -2px 5px rgba(0,0,0,0.5);

}


#product-icon-hover{
	position: absolute;
	top: 100px;
	left: 700px;
	z-index: 1;
	cursor: pointer;
}


#project-subtitle2{
	margin-top: 500px;
}

#illustration-icon{
	position: absolute;
	top: 360px;
	z-index: 2;
	cursor: pointer;
	box-shadow: -2px -2px 5px rgba(0,0,0,0.5);

}


#illustration-icon-hover{
	position: absolute;
	top: 360px;
	z-index: 1;
	cursor: pointer;
}

#photography-icon{
	position: absolute;
	top: 360px;
	left: 350px;
	z-index: 2;
	cursor: pointer;
	box-shadow: -2px -2px 5px rgba(0,0,0,0.5);
}


#photography-icon-hover{
	position: absolute;
	top: 360px;
	left: 350px;
	z-index: 1;
	cursor: pointer;
}

#ci-icon{
	position: absolute;
	top: 360px;
	left: 700px;
	z-index: 2;
	cursor: pointer;
	box-shadow: -2px -2px 5px rgba(0,0,0,0.5);
}


#ci-icon-hover{
	position: absolute;
	top: 360px;
	left: 700px;
	z-index: 1;
	cursor: pointer;
}

#caltv-icon{
	position: absolute;
	top: 620px;
	z-index: 2;
	cursor: pointer;
	box-shadow: -2px -2px 5px rgba(0,0,0,0.5);
}


#caltv-icon-hover{
	position: absolute;
	top: 620px;
	z-index: 1;
	cursor: pointer;
}

#film-icon{
	position: absolute;
	top: 620px;
	left: 350px;
	z-index: 2;
	cursor: pointer;
	box-shadow: -2px -2px 5px rgba(0,0,0,0.5);
}


#film-icon-hover{
	position: absolute;
	top: 620px;
	left: 350px;
	cursor: pointer;
	z-index: 1;
}

#montage-icon{
	position: absolute;
	top: 620px;
	left: 700px;
	z-index: 2;
	box-shadow: -2px -2px 5px rgba(0,0,0,0.5);
	cursor: pointer;
	margin-bottom: 50px;
}


#montage-icon-hover{
	position: absolute;
	top: 620px;
	left: 700px;
	z-index: 1;
	cursor: pointer;
	margin-bottom: 50px;
}
}

/*END 1024 FULL SIZE SCREEN, BEGIN 2 COLUMN*/
@media (max-width: 1024px) and (min-width: 660px){
#home-nav-portfolio{
	margin-top:20px;
	margin-left:20px;
}

#profile-nav-portfolio{
	margin-left: 20px;
	margin-top: 10px;
}

#profile-nav{
	font-size: 24px;
	margin-left: 20px;
	margin-bottom: -80px;
	cursor:pointer;
	padding: 0px;
	width: 50px;
	/* margin: 0; */
}

#profile-nav:hover{
	color: #888;
	width: 50px;
}

#home-nav:hover{
	color:#888;
	width: 30px;
}

#project-title{
	margin-left: auto;
	margin-right: auto;
	width: 350px;
	margin-top: -50px;
}


#projects-container{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;

}

#project-subtitle1{
    font-size: 24px;

    margin-left: auto;
    margin-right: auto;
}


#projects-container{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 650px;
	top: 0px;
	/* margin-top: 20px; */
}


.project-icons1{
	margin-top:-60px;
}

#UIUX-icon{
	position: absolute;
	top: 100px;
	z-index: 2;
	cursor: pointer;
	box-shadow: -2px -2px 5px rgba(0,0,0,0.5);

}

#UIUX-icon-hover{
	position: absolute;
	top: 100px;
	z-index: 1;
}

#mobile-icon{
	position: absolute;
	top: 100px;
	left: 350px;
	z-index: 2;
	cursor: pointer;
	box-shadow: -2px -2px 5px rgba(0,0,0,0.5);
}


#mobile-icon-hover{
	position: absolute;
	top: 100px;
	left: 350px;
	z-index: 1;
	cursor: pointer;
}

#product-icon{
	position: absolute;
	top: 360px;
	z-index: 2;
	cursor: pointer;
	box-shadow: -2px -2px 5px rgba(0,0,0,0.5);

}


#product-icon-hover{
	position: absolute;
	top: 360px;
	z-index: 1;
	cursor: pointer;
}


#project-subtitle2{
	margin-top: 500px;
}

#illustration-icon{
	position: absolute;
	top: 360px;
	left: 350px;
	z-index: 2;
	cursor: pointer;
	box-shadow: -2px -2px 5px rgba(0,0,0,0.5);

}


#illustration-icon-hover{
	position: absolute;
	top: 360px;
	left: 350px;
	z-index: 1;
	cursor: pointer;
}

#photography-icon{
	position: absolute;
	top: 620px;
	z-index: 2;
	cursor: pointer;
	box-shadow: -2px -2px 5px rgba(0,0,0,0.5);
}


#photography-icon-hover{
	position: absolute;
	top: 620px;
	z-index: 1;
	cursor: pointer;
}

#ci-icon{
	position: absolute;
	top: 620px;
	left: 350px;
	z-index: 2;
	cursor: pointer;
	box-shadow: -2px -2px 5px rgba(0,0,0,0.5);
}


#ci-icon-hover{
	position: absolute;
	top: 620px;
	left: 350px;
	cursor: pointer;
	z-index: 1;
}

#caltv-icon{
	position: absolute;
	top: 880px;
	z-index: 2;
	cursor: pointer;
	box-shadow: -2px -2px 5px rgba(0,0,0,0.5);
}


#caltv-icon-hover{
	position: absolute;
	top: 880px;
	z-index: 1;
	cursor: pointer;
}

#film-icon{
	position: absolute;
	top: 880px;
	left: 350px;
	z-index: 2;
	cursor: pointer;
	box-shadow: -2px -2px 5px rgba(0,0,0,0.5);
}


#film-icon-hover{
	position: absolute;
	top: 880px;
	left: 350px;
	cursor: pointer;
	z-index: 1;
}

#montage-icon{
	position: absolute;
	top: 1140px;
	z-index: 2;
	box-shadow: -2px -2px 5px rgba(0,0,0,0.5);
	cursor: pointer;
	margin-bottom: 50px;
}


#montage-icon-hover{
	position: absolute;
	top: 1140px;
	z-index: 1;
	cursor: pointer;
	margin-bottom: 50px;
}

}





/*END two column FULL SIZE SCREEN, BEGIN 1 COLUMN*/
@media (max-width: 660px){
#home-nav-portfolio{
	margin-top:20px;
	margin-left:20px;
}

#profile-nav-portfolio{
	margin-left: 20px;
	margin-top: 10px;
}

#profile-nav{
	font-size: 24px;
	margin-left: 20px;
	margin-bottom: -80px;
	cursor:pointer;
	padding: 0px;
	width: 50px;
	/* margin: 0; */
}

#profile-nav:hover{
	color: #888;
	width: 50px;
}

#home-nav:hover{
	color:#888;
	width: 30px;
}

#project-title{
	margin-left: auto;
	margin-right: auto;
	width: 350px;
	margin-top: -50px;
}


#projects-container{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;

}

#project-subtitle1{
    font-size: 24px;

    margin-left: auto;
    margin-right: auto;
}


#projects-container{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	top: 0px;
	/* margin-top: 20px; */
}


.project-icons1{
	margin-top:-60px;
}

#UIUX-icon{
	position: absolute;
	top: 100px;
	z-index: 2;
	cursor: pointer;
	box-shadow: -2px -2px 5px rgba(0,0,0,0.5);

}

#UIUX-icon-hover{
	position: absolute;
	top: 100px;
	z-index: 1;
}

#mobile-icon{
	position: absolute;
	top: 360px;
	z-index: 2;
	cursor: pointer;
	box-shadow: -2px -2px 5px rgba(0,0,0,0.5);
}


#mobile-icon-hover{
	position: absolute;
	top: 360px;
	z-index: 1;
	cursor: pointer;
}

#product-icon{
	position: absolute;
	top: 620px;
	z-index: 2;
	cursor: pointer;
	box-shadow: -2px -2px 5px rgba(0,0,0,0.5);

}


#product-icon-hover{
	position: absolute;
	top: 620px;
	z-index: 1;
	cursor: pointer;
}


#project-subtitle2{
	margin-top: 500px;
}

#illustration-icon{
	position: absolute;
	top: 880px;
	z-index: 2;
	cursor: pointer;
	box-shadow: -2px -2px 5px rgba(0,0,0,0.5);

}


#illustration-icon-hover{
	position: absolute;
	top: 880px;
	z-index: 1;
	cursor: pointer;
}

#photography-icon{
	position: absolute;
	top: 1140px;
	z-index: 2;
	cursor: pointer;
	box-shadow: -2px -2px 5px rgba(0,0,0,0.5);
}


#photography-icon-hover{
	position: absolute;
	top: 1140px;
	z-index: 1;
	cursor: pointer;
}

#ci-icon{
	position: absolute;
	top: 1400px;
	z-index: 2;
	cursor: pointer;
	box-shadow: -2px -2px 5px rgba(0,0,0,0.5);
}


#ci-icon-hover{
	position: absolute;
	top: 1400px;
	cursor: pointer;
	z-index: 1;
}

#caltv-icon{
	position: absolute;
	top: 1660px;
	z-index: 2;
	cursor: pointer;
	box-shadow: -2px -2px 5px rgba(0,0,0,0.5);
}


#caltv-icon-hover{
	position: absolute;
	top: 1660px;
	z-index: 1;
	cursor: pointer;
}

#film-icon{
	position: absolute;
	top: 1920px;
	z-index: 2;
	cursor: pointer;
	box-shadow: -2px -2px 5px rgba(0,0,0,0.5);
}


#film-icon-hover{
	position: absolute;
	top: 1920px;
	cursor: pointer;
	z-index: 1;
}

#montage-icon{
	position: absolute;
	top: 2180px;
	z-index: 2;
	box-shadow: -2px -2px 5px rgba(0,0,0,0.5);
	cursor: pointer;
	margin-bottom: 50px;
}


#montage-icon-hover{
	position: absolute;
	top: 2180px;
	z-index: 1;
	cursor: pointer;
	margin-bottom: 50px;
}

}


/* end portfolio land page */

#home-nav-container-uiux{
	margin-top:20px;
	margin-left:20px;
}

#profile-nav-container-uiux{
	margin-top:10px;

}

#portfolio-nav-container-uiux{
	margin-top:89px;
	margin-left: -1px;
}

#uiux-header{
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	margin-top: -40px;
}

#glass-link{
	font-size: 24px;
	font-weight: 100;
}




/*product page css*/
#product-solar-content{
	margin-right: auto;
	margin-left: auto;
	width: 80%;
}

#title-image{
	margin-left: auto;
	margin-right: auto;
	width: 415px;
}

#solar-subtitle-text{
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	font-size: 24px;
}

#solar-date{
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	margin-top: 8px;
}

.solar-title-images{
	margin-right: auto;
	margin-left: auto;
	width: 610px;
	/* padding-right: 50px; */	
	margin-top: 25px;
	margin-bottom: 24px;
}

#solar-title-description{
	font-weight: 100;
	line-height: 26px;
}

#solar-my-role-title{
	font-weight: 400;
	font-size: 24px;
	margin-top: 20px;
	margin-bottom: 5px;
}

#solar-my-role{
	font-weight: 100;
	line-height: 26px;
}

#solar-product-title{
	font-weight: 400;
	font-size: 24px;

	margin-top: 20px;
	margin-bottom: 8px;
}

#solar-use-cases{
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	margin-bottom: 20px;
}

#solar-product-description{
	font-weight: 100;
	line-height: 26px;

	margin-bottom: 20px;
}

#solar-design-process{
	font-weight: 400;
	font-size: 24px;
	margin-left: auto;
	margin-right: auto;
	
	margin-bottom: 8px;
}

#solar-design-process-graphic{
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	margin-bottom: 24px;
}

#solar-prototyping-title{
	font-weight: 400;
	font-size: 24px;
	margin-bottom: 12px;
}

.solar-prototyping-images{
	margin-right: auto;
	margin-left: auto;
	width: 610px;
}


#back-to-projects{
	margin-top: 100px;
	font-weight: 400px;
	font-size: 24px;
	color: #555;
}
#back-to-projects:hover{
	color: #111;
}



/*CI*/
#ci-header{
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	margin-top: 20px;
	margin-bottom: 20px
}

#ci-description{
	font-weight: 100;
	font-size: 16;
	margin-right: auto;
	margin-left: auto;
	width: 80%;
	margin-bottom: 24px;
	line-height: 26px;
}

#video-container{
	margin-right: auto;
	margin-left: auto;
	width: 80%;
}

.videos{
	padding-bottom: 20px;
	margin-right: auto;
	margin-left: auto;
	
}

#video1{
	margin-bottom: 30px;
	margin-right: auto;
	margin-left: auto;
	width: 500px;
}

#video1-desc{
	margin-right: auto;
	margin-left: auto;
	width: 500px;
	margin-bottom: 8px;
	font-size: 20px;
}


#video2-desc{
	margin-right: auto;
	margin-left: auto;
	width: 500px;
	margin-bottom: 8px;
	font-size: 20px;


}
#video2{
	margin-bottom: 30px;
	margin-right: auto;
	margin-left: auto;
	width: 500px;
}
#video3-desc{
	margin-right: auto;
	margin-left: auto;
	width: 500px;
	margin-bottom: 8px;
	font-size: 20px;
}
#video3{
	margin-bottom: 30px;
	margin-right: auto;
	margin-left: auto;
	width: 500px;
}

#video4-desc{
	margin-right: auto;
	margin-left: auto;
	width: 500px;
	margin-bottom: 8px;
	font-size: 20px;
}

#video4{
	margin-bottom: 30px;
	margin-right: auto;
	margin-left: auto;
	width: 500px;
}
#video4-desc{
	margin-right: auto;
	margin-left: auto;
	width: 500px;
	margin-bottom: 8px;
	font-size: 20px;
}

#video5{
	margin-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
	width: 500px;
}
#video5-desc{
	margin-right: auto;
	margin-left: auto;
	width: 500px;
	margin-bottom: 8px;
	font-size: 20px;
}

/*end ci*/



/*caltv*/
#caltv-video1{
	margin-right: auto;
	margin-left: auto;
	width: 500px;
}



/*end caltv*/



/*montages*/
#montage-header{
	margin-top: -100px;
	margin-right: auto;
	margin-left: auto;
	width: 600px;
	margin-bottom: -30px;
}

#montage-desc{
	font-weight: 100;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	margin-bottom: 20px;
	font-size: 16px;
	line-height: 26px;
}

#faces1-head{
	font-size: 20px;
	margin-bottom: 8px;
	margin-right: auto;
	margin-left: auto;
	width: 500px;
}

#faces1{
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	margin-bottom: 30px;
}

#faces2-head{
	font-size: 20px;
	margin-bottom: 8px;
	margin-right: auto;
	margin-left: auto;
	width: 500px;
}


#faces2{
	margin-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
	width: 500px;
}
/*end montages*/


/*film*/
#film-header{
	margin-left: auto;
	margin-right: auto;
	width: 380px;
	margin-bottom: 20px;
}

#film-desc{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: 100;
	line-height: 26px;
}

#prod-port{
	margin-left: auto;
	margin-right: auto;
	width: 358px;
	margin-top: 30px;
	margin-bottom: 30px;
	color: #779;
	font-size: 20px;
	transition-duration: .4s;

}

#prod-port:hover{
	color: #222;
	transition-duration: .4s;
}

#trailer-text{
	margin-right: auto;
	margin-left: auto;
	width: 480px;	
	font-size: 20px;
	margin-bottom: 8px;
}

#trailer{
	margin-right: auto;
	margin-left: auto;
	width: 480px;
	margin-bottom: 20px;
}

#film-text{
	margin-right: auto;
	margin-left: auto;
	width: 480px;
	font-size: 20px;
	margin-bottom: 8px;

}

#film-embed{
	margin-right: auto;
	margin-left: auto;
	width: 480px;
	margin-bottom: 10px;

}
/*end film*/


/*flare*/
#flare-container{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

#flare-logo{
	margin-right: auto;
	margin-left: auto;
	width: 200px;
	margin-top: 20px;
	margin-bottom: 20px;

}

#flare-subtitle{
	font-size: 24px;
	font-weight: 300px;
	text-align: center;
	margin-bottom: 8px;

}

#citris-subtitle{
	font-size: 16px;
	text-align: center;
	margin-bottom: 4px;
}

#flare-date{
	font-size: 16px;
	text-align: center;
	margin-bottom: 20px;
}

#flare-video{
	margin-left: auto;
	margin-right: auto;
	width: 480px;
	margin-bottom: 20px;
}

#flare-summary{
	font-weight: 100;
	font-size: 16px;
	line-height: 26px;
}

#flare-problem{
	font-weight: 300px;
	font-size: 24px;
	margin-top: 20px;
	margin-bottom: 4px;
}

#flare-problem-text{
	font-weight: 100;
	font-size: 16px;
	line-height: 26px;
}

#flare-role{
	font-weight: 300px;
	font-size: 24px;
	margin-top: 20px;
	margin-bottom: 4px;
}

#flare-role-text{
	font-weight: 100;
	font-size: 16px;
	line-height: 26px;
}

#flare-our-app{
	font-weight: 300px;
	margin-top: 20px;
	margin-bottom: 4px;
	font-size: 24px;
}

#flare-our-app-text{
	font-weight: 100;
	font-size: 16px;
	line-height: 26px;
}

#flare-design-process{
	font-weight: 300px;
	margin-top: 20px;
	margin-bottom: 4px;
	font-size: 24px;
}

#flare-identify{
	font-weight: 100;
	font-size: 16px;
	line-height: 26px;
}

#flare-research{
	font-weight: 100;
	font-size: 16px;
	line-height: 26px;
	margin-top: 12px;
}

#flare-design{
	font-weight: 100;
	font-size: 16px;
	line-height: 26px;
	margin-top: 12px;
	margin-bottom: 20px;
}

#flare-screen-shots{
	margin-right: auto;
	margin-left: auto;
	/*width: 600px;*/
}

#flare-final-pics-header{
	font-weight: 100;
	margin-top: 20px;

}

#flare-final-pics-container{
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	margin-top: 8px;
}

#flare-final-pics{
	margin-right: auto;
	margin-left: auto;
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 10px;
	margin-top: 8px;
}

/*end flare*/


/*gradient */
#gradient-header{
	margin-left: auto;
	margin-right: auto;
	width: 380px;
	margin-top: 36px;
	margin-bottom: 20px;
}

#gradient-container{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

#gradient-summary{
	font-weight: 100;
	font-size: 16px;
	line-height: 26px;
	margin-top: 20px;
}

#gradient-problem-header{
	font-size: 24px;
	margin-top: 20px;
	margin-bottom: 8px;
}

#gradient-problem{
	font-size: 16px;
	line-height: 26px;
	margin-bottom: 20px;
	font-weight: 100;
}

#gradient-proposal{
	font-size: 24px;
	margin-top: 20px;
	margin-bottom: 8px;
}

#gradient-proposal-text{
	font-size: 16px;
	line-height: 26px;
	margin-bottom: 20px;
	font-weight: 100;	
}

#gradient-link{
	color: #45B648;
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 235px;
	transition-duration: .4s;

}

#gradient-link:hover{
	color: #779;
	transition-duration: .4s;
}

/*end gradient*/



/*start uiuz glass*/
#glass-title-image{
	width: 667px;
	margin: 10px auto 10px auto;
}

#glass-design-process{
	font-weight: 400;
	font-size: 24px;
	margin-left: auto;
	margin-right: auto;
	
	margin-bottom: 8px;
}

#glass-concept-title{
	font-weight: 400;
	font-size: 24px;

	margin-top: 20px;
	margin-bottom: 8px;	
}

#glass-date{
	text-align: center;
	margin: 8px auto 20px auto;	
}

#glass-title-description{
	font-weight: 100;
	line-height: 26px;	
}

#glass-behance{
	margin-left: auto;
	margin-right: auto;
	width: 542px;
	margin-top: 30px;
	margin-bottom: 30px;
	color: #779;
	font-size: 20px;
	transition-duration: .4s;

}

#glass-behance:hover{
	color: #222;
	transition-duration: .4s;
}

#glass-my-role-title{
	font-weight: 400;
	font-size: 24px;
	margin-top: 20px;
	margin-bottom: 5px;
}

#glass-my-role{
	font-weight: 100;
	line-height: 26px;
}

#glass-product-description{
	font-weight: 100;
	line-height: 26px;

	margin-bottom: 20px;
}

#glass-flow{
	width: 750px;
	margin: -10px auto 30px auto;
}

#glass-use-cases-title{
	font-weight: 400;
	font-size: 24px;
	margin-top: 20px;
	margin-bottom: 5px;
}

#glass-use-cases{
	margin-left: auto;
	margin-right: auto;
	width: 750px;
	margin-bottom: 20px;
}

#glass-design-process-graphic{
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	margin-bottom: 24px;
}
/*end uiuz glass*/




